/*
 * Name: minimal
 * Description: Minimal CSS for the personal website of Kayman Brusse.
 * Author: Kayman Brusse
 */

/*** General Styles ***/
body {
    margin: 0;
    line-height: 1.6;
    font-size: 18px;
    color: #444444;
}

h1, h2, h3 {
    line-height: 1.2;
}

h1 {
    font-size: 50px;
    font-style: italic;
}

/*** By Class ***/
.footer {
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 650px;
    margin-left: -325px;
}

/*** By ID ***/
#header_color {
    background-color: yellow;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    text-align: center;
}

#under_header {
    top: 50%;
}

