/* Responsive CSS - SCSS
 * Author: Kayman Brusse
 */

// Variables

$fonts: Helvetica, sans-serif;
$txt-color: #212121;
$txt-color-light: #616161;
$txt-color-link: #0277bd;
$bg-color: #fafafa;
$bg-color-dark: #E0E0E0;

$screen-height: 100vh;
$lg-width: 960px;


$navbar-active: #f5f5f5;
$navbar-height: 60px;
$navbar-txt-color: #0a0a0a;
$navbar-txt-size: 14px;

$section-height: 100vh;

// -- Responsive Mixins --
// Edit these to change when html is responsive.
@mixin responsive($class) {
    @if $class == xs {
        @media (max-width: 400px) { @content;}
    }
    
    @else if $class == sm {
        @media (min-width: 768px) { @content; }
    }
 
    @else if $class == md {
        @media (min-width: 960px) { @content; }
    }
 
    @else if $class == lg {
        @media (min-width: 1200px) { @content; }
    }
 
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

// -- Responsive Classes --

html, body {

    padding: 0;
    margin: 0;
    font-family: $fonts;
    background-color: $bg-color;
    color: $txt-color;
}

// Paragraphs
p {
    padding-right: 30px;
}

// Links
a {
    color: $txt-color-link;
    text-decoration: none;
    position: relative;
}

// Links w/ left-to-right underline animation.
a.styled {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        border-bottom: thin solid $txt-color-link;
        transition: 0.3s;
    }
    
    &:hover:after {
        width: 100%;
    }
}

// Navigation Bar
.navbar {

    height: $navbar-height;
    width: 100%;
    font-size: $navbar-txt-size;
    border-bottom-style: none;
    background-color: $bg-color;
    
    @include responsive(lg) {
        border-bottom: thin solid $bg-color-dark;
        position: fixed;
    }

    nav {
        @include responsive(lg) {
            width: $lg-width;
            margin: 0 auto;
        }
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        display: inline;
        float: left;

        width: 100%;
        display: block;
        border-bottom-style: solid;
        border-bottom: thin solid $navbar-active;

        // Hover Effects.
        &:hover {
            background-color: $navbar-active;
            transition: background-color 0.5s ease;
        }

        @include responsive(lg) {
            border-bottom-style: none; // No border.
            display: inline;
            width: auto;
        }
    }

    a {
        display: block;
        text-align: left;
        text-decoration: none;
        color: $txt-color;
        padding: 20px;
    }
}

// Title Container

.title-container {
    
    text-align: center;
    vertical-align: middle;
    padding: 40px;

    @include responsive(lg) {
        height: $section-height;
        line-height: $section-height;
        padding: 0;
    }
}

.section-container {

}

.section-container-dark {
    background-color: $bg-color-dark;
}

section {
    
    width: 100%;
    padding: 20px;
    padding-right: 20px;

    @include responsive(lg) {
        width: $lg-width;
        margin: 0 auto;
    }
}

// Main Responsive Container.
.res-container {

    overflow: hidden;
    margin: auto;
    width: 100%;
}

