/* 
 * Responsive CSS - SCSS
 * Author: Kayman Brusse
 */
/* -- Responsive Classes -- */
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #fafafa;
  color: #212121; }

img {
  width: 100%;
  border-radius: 5px; }

a {
  color: #0277bd;
  text-decoration: none; }

a.styled:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: thin solid #0277bd;
  transition: 0.3s; }
a.styled:hover:after {
  width: 100%; }

.navbar {
  border-bottom: thin solid #E0E0E0;
  height: 55px;
  width: 100%;
  font-size: 14px;
  background-color: #fafafa;
  position: fixed; }
  .navbar span {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 4px;
    background: #212121; }
  @media (min-width: 960px) {
    .navbar nav {
      width: 768px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .navbar nav {
      width: 960px;
      margin: 0 auto; } }
  .navbar ul {
    margin: 0;
    padding: 0; }
  .navbar li {
    float: left;
    display: inline; }
    @media (min-width: 960px) {
      .navbar li {
        display: inline;
        width: auto; } }
    .navbar li.menu_item {
      display: none;
      background-color: #fafafa; }
      @media (min-width: 960px) {
        .navbar li.menu_item {
          display: inline;
          background-color: transparent; } }
    .navbar li.dropdown {
      float: right; }
      @media (min-width: 960px) {
        .navbar li.dropdown {
          display: none; } }
  .navbar a {
    display: block;
    text-decoration: none;
    color: #212121;
    padding: 20px;
    position: relative; }
  .navbar.open li.menu_item {
    display: block;
    width: 100%;
    border-bottom: thin solid #E0E0E0; }
  .navbar.open span {
    transform: translate(2px, 0px) rotate(45deg) scale(1.2, 1); }
    .navbar.open span:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    .navbar.open span:nth-last-child(1) {
      transform: rotate(-45deg) translate(0px, 0px) scale(1.2, 1); }

span.burger {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 4px;
  background: #212121;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  span.burger:first-child {
    transform-origin: 0% 0%; }
  span.burger:nth-last-child(2) {
    transform-origin: 0% 100%; }
  span.burger.animate {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323; }
    span.burger.animate:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    span.burger.animate:nth-last-child(2) {
      opacity: 1;
      transform: rotate(-45deg) translate(0, -1px); }

/* -- Title Container -- 
 * 
 * Container for a centered title page.
 */
.title-container {
  text-align: center;
  vertical-align: middle;
  height: calc(100vh - 20px);
  line-height: calc(100vh - 20px); }

.section-container {
  width: 100%; }

.section-container-dark {
  width: 100%;
  background-color: #E0E0E0; }

section {
  padding: 20px; }
  @media (min-width: 960px) {
    section {
      width: 768px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    section {
      width: 960px;
      margin: 0 auto; } }

.anchor {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden; }

.res-container {
  overflow: hidden;
  margin: 0 auto;
  width: 100%; }

/*# sourceMappingURL=responsive.css.map */
