/* 
 * Responsive CSS - SCSS
 * Author: Kayman Brusse
 */
/* -- Responsive Classes -- */
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #fafafa;
  color: #212121; }

img {
  width: calc(100% + 2*20px);
  margin-left: -20px; }
  @media (min-width: 960px) {
    img {
      width: 100%;
      margin-left: 0;
      margin-bottom: 20px; } }

a {
  color: #0277bd;
  text-decoration: none;
  position: relative; }
  a.styled:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: thin solid #0277bd;
    transition: 0.3s; }
  a.styled:hover:after {
    width: 100%; }

.navbar-container {
  border-bottom: thin solid #E0E0E0;
  height: 55px;
  width: 100%;
  font-size: 14px;
  background-color: #fafafa;
  position: fixed;
  z-index: 2; }
  .navbar-container span {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 4px;
    background: #212121;
    padding: 0; }
  @media (min-width: 960px) {
    .navbar-container nav {
      width: 768px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    .navbar-container nav {
      width: 960px;
      margin: 0 auto; } }
  .navbar-container ul {
    margin: 0;
    padding: 0; }
  .navbar-container li {
    float: left;
    list-style-type: none; }
    @media (min-width: 960px) {
      .navbar-container li {
        display: inline;
        width: auto; } }
  .navbar-container a {
    display: block;
    color: #212121;
    padding: 20px;
    position: relative; }
  .navbar-container.open .navbar-menu-items {
    transform: scale(1, 1); }
    .navbar-container.open .navbar-menu-items li {
      display: block;
      width: 100%;
      border-bottom: thin solid #E0E0E0; }
  .navbar-container.open span {
    transform: translate(2px, 0px) rotate(45deg) scale(1.2, 1); }
    .navbar-container.open span:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    .navbar-container.open span:nth-last-child(1) {
      transform: rotate(-45deg) translate(0px, 0px) scale(1.2, 1); }

.navbar-burger-menu span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 4px;
  background: #212121;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  .navbar-burger-menu span:first-child {
    transform-origin: 0% 0%; }
  .navbar-burger-menu span:nth-last-child(2) {
    transform-origin: 0% 100%; }
.navbar-burger-menu li {
  height: 55px;
  float: right; }
  @media (min-width: 960px) {
    .navbar-burger-menu li {
      display: none; } }

.navbar-menu-items {
  /* TODO: Fix animation from overlapping other elements */
  transform: scale(1, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); }
  @media (min-width: 960px) {
    .navbar-menu-items {
      transform: scale(1, 1);
      transition: none; } }
  .navbar-menu-items li {
    display: none;
    background-color: #fafafa; }
    @media (min-width: 960px) {
      .navbar-menu-items li {
        display: inline;
        background-color: transparent;
        width: auto; } }

.title-container {
  text-align: center;
  vertical-align: middle;
  height: calc(100vh - 20px);
  line-height: calc(100vh - 20px); }

.section-container {
  width: 100%; }

.section-container-dark {
  width: 100%;
  background-color: #E0E0E0; }

section {
  padding: 20px; }
  @media (min-width: 960px) {
    section {
      width: 768px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
    section {
      width: 960px;
      margin: 0 auto; } }

.anchor {
  display: block;
  position: relative;
  top: -55px;
  visibility: hidden; }

.res-container {
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%; }

.merged img {
  margin: 0 auto;
  width: 30%;
  padding: 3px;
  margin-bottom: 0; }

@media (min-width: 960px) {
  .col-1-1 {
    width: 100%;
    display: block;
    clear: both; } }

@media (min-width: 960px) {
  .col-1-2 {
    float: left;
    width: 50%; } }

@media (min-width: 960px) {
  .col-1-3 {
    float: left;
    width: 33%; } }

@media (min-width: 960px) {
  .col-2-3 {
    float: left;
    width: 66%; } }

/*# sourceMappingURL=responsive.css.map */
